.thead {
  background-color: rgba(19, 1, 1, 0.842);
  color: white;
  margin-top: 20px;
  margin-bottom: 18px;
}
.tableData Td {
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 15px;
}
.TotalOrder {
  margin-top: 30px;
}

.success {
  background-color: green;
  font-size: 17px;
  font-weight: 700;
  color: yellow;
}

.pending {
  background-color: darkred;
  font-size: 17px;
  font-weight: 700;
  color: white;
}
